{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Criar Categoria</title>
</head>
<body>
    <h1>Criar Categoria</h1>
    <form method="post">
        {% csrf_token %}
        <label for="nome">Nome da Categoria:</label>
        <input type="text" id="nome" name="nome" required><br>
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'listar_categorias' %}">Voltar para lista de categorias</a>
</body>
</html>
